<div class="container">
        <div class="row">
            <ul style="list-style-type: none">
                     <li *ngFor="let blog of Blogs">
                        <div class="card">
                            <h3 class="card-header">
                                {{ blog.title | json | uppercase}}
                            </h3>
                            <div class="card-horizontal">
                                <div class="image-square-wrapper">
                                 <img src="../../assets/munnar2.jpg" alt="" class="card-img-top" style="width: 30rem"> 
                                </div>
                            </div>
                         <p class="card-text">
                             
                             {{ blog.body | json}}
                             
                         </p>
                        <button type="button" class="btn btn btn-info">Read more...</button>
                        </div>
                             
                         </li> 
            </ul>
        </div>
     </div>
     