<div class="card" style="width: 18rem;">
        <img src="../../assets/contact.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">You can ping me on below link</h5>
          <p class="card-text">Email us with any questions or inquires. We would be happy to answer your questions and set up a meeting with you.</p>
          <a href="https://www.linkedin.com/in/mani-pratap-vadlapati" class="btn btn-primary">Contact</a>
        </div>
      </div>